.opening-sentence
{
    text-align: center;
    font-size: 22px;
    margin-top: 1em;
    font-weight: bold;
}

.december-content ul{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.december-header{
    color: #ffffff;
    background: #007bff;
    text-align: center;
    padding: 1em;
    margin-top: 0.5em;
    
    font-size: 26px;
}

.december-container {
    display: flex;
    justify-content: center;
}

.accordion{
   margin-right: 2em;
}

.december-accordion .december-element{
    list-style: none;
    width: 100%;
    margin: 20px 0px;
    padding: 1em;
    border-radius: 8px;
    background: #ddf5ff;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.15);
}

.december-accordion .december-element ul{
    list-style-type: none;
}

.december-accordion .december-element .december-label{
    display: flex;
    align-items: center; 
    padding: 10px;
    font-style: 18px;
    font-weight: bold;
    cursor: pointer;
}

.december-label::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

.december-input{
    display: none;
}

.december-accordion .december-content{
    color: #000000;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition:  max-height 0.7s, padding 0.7s;
}

.december-accordion .december-input:checked + .december-label + .december-content{
    max-height: 4000px;
    padding: 10px 10px 20px;
}

.december-accordion .december-input:checked + .december-label::before{
    content: '-';
}

.december-competition-info-wrapper table
{
    width: 100%;
    background: transparent;
}

.december-competition-info-wrapper th
{
    background: #5fd2ff5b;
    border-radius: 5px;
    padding: 12px;
}

.december-competition-info-wrapper .context-row
{
    
    background: #00b7ff;
}

.info-wrapper
{
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size: 18px;
}

@media(max-width: 768px)
{
    .december-header
    {
        font-size: 20px;
        padding: 1em;
    }

    .opening-sentence
    {
        font-size: 18px;
        margin-bottom: 1em;
    }

    .december-accordion
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .december-accordion .december-element{
        width: 100%;
        padding: 5px;
        margin: 10px 0px;
        
    }

    .older-competitions a
    {
        font-size: 14px;
    }

    .info-wrapper
    {
        padding: 1em;
    }

    .info-wrapper p
    {
        font-size: 16px;
    }
    
}