.header-wrapper, .image-container-header{
    display: flex;
    justify-content: center;
    background: #29455c;
    margin-top: 1em;
    padding: 1em;
}

.article-header, .image-container-header{
    position: relative;
    text-align: center;
    font-size: 26px;
    color: #ffffff;
}

.article-header{
    font-size: 20px;
}

.article-paragraph-one,
.article-paragraph-two,
.article-parahraph-three{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

.article-paragraph-one img,
.article-paragraph-two img,
.article-parahraph-three img{
    width: 140%;
    height: auto;
}

.text{
    font-size: 18px;
    text-indent: 2em;
    text-align: justify;
}

.image-container{
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 30%;
}

.image-container ul{
    list-style-type: none;
}

.image-container li img{
    justify-content: space-around;
    width: 95%;
    padding: 10px;
}

main img{
    border-radius: 2em;
    overflow: hidden;
}

@media (max-width: 768px) {
    .article-paragraph-one,
    .article-paragraph-two,
    .article-parahraph-three {
        flex-direction: column;
    }

    .article-paragraph-one img,
    .article-paragraph-two img,
    .article-parahraph-three img{
        width: 110%;
    }

    .text{
        font-size: 20px;
        text-align: justify;
    }
}