@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.header-wrapper, .image-container-header{
    display: flex;
    justify-content: center;
    background: #29455c;
    margin-top: 1em;
    padding: 1em;
}

.article-header, .image-container-header{
    position: relative;
    text-align: center;
    font-size: 26px;
    font-family: "Fira Sans" ,serif;
    color: #ffffff;
}

.article-paragraph-one,
.article-paragraph-two,
.article-parahraph-three{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.text{
    font-family: "Fira Sans" ,serif;
    font-size: 24px;
    text-indent: 2em;
    text-align: justify;
}

.image-container{
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 30%;
}

.image-container ul{
    list-style-type: none;
}

.image-container li img{
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

main img{
    border-radius: 2em;
    overflow: hidden;
}

@media (max-width: 1024px) {
    .article-paragraph-one,
    .article-paragraph-two,
    .article-parahraph-three {
        flex-direction: column;
    }

    .text{
        font-size: 20px;
        text-align: justify;
    }

    main img{
        border-radius: 2em;
        width: 115%;
        overflow: hidden;
    }
}