.calendar {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    font-family: Arial, sans-serif;
  }
  
  .calendar-header {
    text-align: center;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .calendar-header h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
  }
  
  #calendar-table th,
  #calendar-table td {
    padding: calc(1% - 2px);
    color: #333;
    font-size: calc(1vw + 0.5vh);
    text-align: center;
    padding: 6px;
    color: #333;
  }

  #calendar-table td {
    cursor: default;
}

  
  .current-day {
    background: #4257f5;
    color: #fff;
    border-radius: 50%;
    height: 2.2em;
  }
  
  #current-day {
    text-align: center;
    margin-top: 16px;
    font-weight: bold;
    color: #333;
  }

  .arrow-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #333;
  }
  
  .arrow-btn:focus {
    outline: none;
  }
  
  #prev-month-btn {
    margin-right: 2em;
  }
  
  #next-month-btn {
    margin-left: 2em;
  }
  
  
