@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body
{
    font-family: "Fira Sans" ,serif;
}

main
{
    padding: 1em;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #0047ab; /* Change the color as desired */
}

section {
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

#email{
    font-size: 18px;
    font-weight: bold;
    
    text-align: center;
}
