.contacts {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 2em;
}

#contacts{
    display: flex;
}

.contact-info{
    margin-top: 1em;
}


.position {
    color: #666;
}

.contacts-wrapper {
    flex: 1;
}

.id-card{
    max-width: 150px;
    object-fit: contain;
    height: auto;
}

#email{
    margin-top: 2em;
    display: none;
}

.contact-form-wrapper{
    padding: 3em;
}

.names-wrapper, .contact-info{
    display: flex;
    gap: 1em;
}

.email-wrapper{
    margin-top: 1em;
    margin-right: 1.3em;
}

#first-row{
    background: rgba(232, 233, 253, 1);
}

#second-row{
    background: rgba(221, 225, 255, 1);
}

#third-row{
    min-height: 5em;
    
    background: rgba(164, 177, 252, 1);
}