.contacts {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 2em;
}

.contact-item{
    display: flex;
    gap: 1em;
}


.position {
    color: #666;
}

#email{
    margin-top: 2em;
}