.content
{
    font-family: "Poppins",sans-serif;
}

.cards-list{
    display: flex;
    flex-direction: row;
}

.card {
    flex: 1;
    border-right: 3px solid rgba(49, 162, 249, 0.5); /* Add the vertical separator */
    padding: 10px; /* Optional: Add padding for spacing */
    transition: all 0.3s ease-in-out;
}

.card:last-child {
    border-right: none; /* Remove separator from the last card */
}
  
.na-header
{
    background: gray;
}

.newest-article {
    display: flex;
    justify-content: space-between;
    gap: 5em;
    align-items: center;
    padding: 2em; /* Adjust as needed */
    background: rgb(49, 162, 249);
}

.text-wrapper
{
    display: flex;
    gap: 3em;
    flex-direction: column;
    color: #ffffff;
    cursor: default;
}

.read-more a
{
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
}

.article-header
{
    font-size: 40px;
    word-wrap: break-word;
}

.newest-article .image-container {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.newest-article .image-container p.text {
    margin-bottom: 10px; /* Adjust as needed */
}

.newest-article .image-container a img {
    max-width: 95%;
    height: auto;
    border-radius: 3%;
    display: block;
}

/* Hidden elements */
.future-header, .future-articles
{
    display: none;
}

.oa-header
{
    text-align: center;
    padding: 1em;
    font-size: 24px;
    color: rgb(49, 162, 249);
}

.older-articles{
    margin-top: 1em;
}

.older-articles .card-list
{
    display: flex;
   
}

.image-container
{
    text-align: center;
    transition: 0.5s all ease;
}

.image-container:nth-child(1){
    margin-right: 2em;
}

.image-container:nth-child(1):hover{
    transform: scale(1.07);
}

.image-container a{
    text-decoration: none;
    color: #343434;
    
}

.image-container .text{
    font-size: 18px;
}

.oa-imge {
    width: 90%;/* Set your desired width here */
    height: auto; /* Set your desired height here */
  }

.oa-image-2{
    width: 50%;
    height: auto;
}

.oa-image-1{
    width: 52%;
}

  .notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: none;
}


@media(max-width: 768px)
{
   .newest-article{
    flex-direction: column;
    padding: 1em;
    gap: 1.5em;
   }

   .text-wrapper{
    gap: 1.5em;
   }

   .older-articles .card-list{
    flex-direction: column;
   }

   .card{
    border-right: none;
    border-bottom: 2px solid rgba(49, 162, 249, 0.5);
    padding: 10px;
   }

   .image-container:nth-child(1){
    margin-right: 0;
    }


   .image-container .text{
    font-size: 16px;
    }

    .oa-imge{
        width: 20em;
        height: auto;
    }

    .oa-image-1{
        width: 13em;
    }

    .oa-image-2{
        width: 13em;
        height: auto;
    }
    
    .article-header{
        font-size: 30px;
    }

}
