@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body{
    font-family: "Fira Sans", sans-serif;
}

.header-wrapper{
    text-align: center;
    padding: 1em;
    margin-top: 1em;
    background: #29455c;
    color: #ffffff;
}

.title h2{
    font-size: 26px;
}

.date-posted{
    font-size: 20px;
    color: #8b8b8b;
}

.image-article-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5em;
    margin-top: 2em;
}

.image-article-wrapper img{
    width: 400px;
    height: auto;
}

.image-article-wrapper .article-text{
    text-align: justify;
    font-size: 22px;
    text-indent: 1em;
    padding: 0 1em;    
}

.image-article-wrapper .article-text a{
    color: #535353;
}

.table-header{
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    background-color: #29455c;
    color: #ffffff;
    
}

.table-wrapper {
    margin: 20px;
    
  }
  
  .table-wrapper table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-wrapper th,
  .table-wrapper td {
    padding: .5em;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  .table-wrapper th {
    background-color: #29455c;
    color: #ffffff;
  }
  
  .table-wrapper tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table-wrapper h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .result-wrapper{
    background: #29455c;
  }

  .result-wrapper .desc{
    text-align: center;
    padding: 0.5em 0;
    font-size: 24px;
    color: #ffffff;
  }

  .pdf-results{
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    font-family: "Fira Sans" ,serif;
    color: #ffffff;
    background: #32536e;
}

.pdf-results li{
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.pdf-results li a{
    text-decoration: none;
    color: #ffffff;
    transition: all 0.2s ease-in;
}

.pdf-results li a:hover{
    color: rgb(255, 252, 63);
    font-size: 34px;
}

@media (width <= 768px)
{
    .image-article-wrapper{
        flex-direction: column;
        gap: 1em;
    }

    .pdf-results{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .pdf-results li{
        font-size: 24px;
    }
}