@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.table-wrapper{
    padding: 2em 0;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Fira Sans", sans-serif;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #525252;
    font-weight: bold;
    color: #ffffff;
  }
  
  /* Alternate row styles */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Hover effect */
  tbody tr:hover {
    background-color: #f5f5f5;
  }