.article-header-wrapper{
  text-align: center;
  padding: 1em;
  background: #007bff;
  margin: 1em 0;
  font-size: 14px;
  color: #ffffff;
}

.searchBar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  margin-top: 1em;
  background: #7d7d7d;
}

.search-by-p {
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: underline;
}

#searchInput {
  padding: 12px;
  width: 20em;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #555;
  outline: none;
}

#searchInput:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px #66afe9;
}

.table-wrapper{
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #d3d3d3;
  }
  
  th {
    background-color: #525252;
    font-weight: bold;
    color: #ffffff;
  }
  
  /* Alternate row styles */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Hover effect */
  tbody tr:hover {
    background-color: #dbdbdb;
  }

  .slider-container{
    margin-top: 1em;
}


  @media(max-width: 768px)
  {
    table {
        width: 100%;
    }
  }

