@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

.searchBar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  padding: 20px 0px;
  margin: 1em 2em;
  border-radius: 5em;
  font-family: "Fira Sans",serif;
  background: #c67777;
}

.search-by-p {
  margin-right: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #333;
  text-decoration: underline;
}

#searchInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #555;
  outline: none;
}

#searchInput:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px #66afe9;
}


.table-wrapper{
    padding: 1em 0;
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Fira Sans", sans-serif;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #525252;
    font-weight: bold;
    color: #ffffff;
  }
  
  /* Alternate row styles */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  /* Hover effect */
  tbody tr:hover {
    background-color: #f5f5f5;
  }

