@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

main{
    font-family: 'Fira Sans', serif;
    max-width: 400px;
    margin: 0 auto;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.countdown-timer
{
    text-align: center;
    font-family: 'Fira Sans' ,serif;
    margin: 1em 0em;
    padding: 1em;
    color: #ffffff;
    background-color: #0056b3;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 1em;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}