footer{
    font-family: "Poppins",sans-serif;
    background: rgb(49, 162, 249);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em;
    padding: 0.4em;
}

.footer-copyright{
    font-size: 18px;
    color: #ffffff;
}

.partners{
    display: flex;
    gap: 4em;
    align-items: center;
}

@media(max-width: 768px)
{
    footer{
        flex-direction: column;
        gap: 1em;
    }

    .footer-copyright{
        font-size: 16px;
    }

   .partners{
    gap: 1em;
   }

   .partners a img{
    width: 150px;
   }

   .partners a .smb-image{
    width: 40px;
   }
}