footer{
    font-family: "Poppins",sans-serif;
    background: gray;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.4em;
}

.footer-copyright{
    font-size: 18px;
    color: #ffffff;
}

.partners{
    display: flex;
    gap: 4em;
    align-items: center;
}

@media(max-width: 768px)
{
    footer{
        flex-direction: column;
        gap: 3em;
    }

    .footer-copyright{
        font-size: 22px;
    }

   .partners{
    flex-direction: column;
    gap: 1em;
   }

   .partners a img{
    width: 100%;
    height: auto;
    overflow: hidden;
   }
}