body{
  background: #dddddd;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.na-header,
.oa-header {
  
  position: relative;
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
}

.article-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 20px;
}

.na-header{
  background-color: #f0f0f0;
  border-radius: 0 0 1em 1em;
  background: #5B91BD;
  font-family: "Fira Sans",serif;
  color: #ffffff;
  font-size: 20px;
}

.newest-article {
  width: 70%;
  padding: 10px;
  background: rgb(208,147,41);
  background: linear-gradient(180deg, rgba(91,145,189,1) 35%, rgba(54,86,112,1) 75%);
  padding: 1em;
  border-radius: 1em;
  transition: all 0.2s ease-in;
}

.newest-article:hover {
  transform: scale(1.05);
}

.future-header, .oa-header{
  margin-top: 2em;
  padding: 10px;
  width: 100%;
  border-radius: 1.5em;
  background: rgba(54,86,112,1);
  color: #ffffff;
  font-family: "Fira Sans", serif;
  font-size: 20px;
  text-align: center;
}


.future-articles, .older-articles {
  background: linear-gradient(0deg, rgba(91,145,189,1) 35%, rgba(54,86,112,1) 75%);
  padding: 1em;
  border-radius: 1em;
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  gap: 0.2em;
}

.future-articles{
  background: rgba(54,86,112,1);
}

.future-article, .older-article {
  padding: 10px;
  display: flex;
  flex-direction: row;
  
}

.image-container {
  display: flex;
  text-align: center;
  position: relative;
}

.card-list{
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.card{
  flex: 1 0 30%;
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 35%, rgba(255, 251, 227, 0.1) 77%);
  padding: 10px;
  transition: all 0.2s ease-in;
}

.card:hover{
  transform: scale(1.05);
  
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  justify-content: center;
}

.future-article, .older-article .image-container img{
  overflow: hidden;
}


.text {
  margin-top: 10px;
  font-family: "Fira Sans", serif;
  font-size: 20px;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
}

a {
  text-decoration: none;
  color: #000;
}

@media (max-width: 768px) {
  .newest-article {
    width: 360px; 
    font-size: 18px; 
  }

  .future-header, .oa-header{
    margin-top: 0.8em;
  }

  .text{
    
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .future-articles, .older-articles
  {
    margin-top: .5em;
    flex-direction: column;
    padding: 10px;
    width: 115%;
  }

  .card-list{
    gap: 0.5em;
    flex-direction: column;
  }
  
  .card{
    flex: 0 0 20%;
    padding: 2px;
  }

  .future-article, .older-article {
    width: 100%;
    height: auto;
    font-size: 16px; 
    padding: 10px;
  }
}
