@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.article-container {
   
    display: grid;
    grid-template-rows: 10em 50vh auto 10em;
    grid-template-columns: 2fr 6fr 2fr 2fr;
    grid-gap: 1em;
    grid-row-gap: 2em;
    margin-top: 2em;
}

.na-header{
    display: block;
    margin-bottom: 0;
    color: rgb(0, 0, 0);
    margin-left: 30%;
    font-family: "Fira Sans", serif;
    font-size: 24px;
    margin-top: 1em;
}

.oa-header
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Fira Sans", serif;
    font-size: 18px;
    text-decoration: underline;
    margin-top: 2em;
}

.newest-article {
    display: flex;
    flex-direction: column;
    position: relative;
    grid-column: span 2;
    margin-left: 5%;
    transition: all 0.2s ease-in;
}

.older-articles
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-top: 19em;
    gap: 0.5em;
    
}



.older-article
{
    grid-row: span 1;
}

.image-container {
    position: relative;
    
}

.image-container {
    position: relative;
  }
  
  .image-container img {
    transition: transform 0.3s ease;
  }
  
  .image-container:hover img {
    transform: scale(1.01);
  }

.text {
    display: flex;
    justify-content: start;
    width: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin: 0;
    overflow: hidden;
    height: 3.2em;
    margin-bottom: 5px;
    font-family: "Fira Sans", serif;
}


img {
    background: none;
    border-radius: 0.3em;
    width: 100%;
    height: auto;
    
}

@media screen and (max-width: 768px) {
    .article-container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
  
  @media screen and (max-width: 480px) {
    .content {
      padding: 10px;
    }
    
    .article-container {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  }
