.result-main
{
    margin: 3em 0;
}

.result-header{
    color: #007bff;
    text-align: center;
    border-bottom: 2px solid #a6a6a6;
    margin: 0 auto;
    width: 40%;
    font-size: 26px;
}

.result-container {
    display: flex;
    justify-content: center;
}

.accordion{
   margin-right: 2em;
}

.result-accordion .result-element{
    list-style: none;
    width: 100%;
    margin: 20px 0px;
    padding: 10px;
    border-radius: 8px;
    background: #ddf5ff;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.15);
}

.result-accordion .result-element ul{
    list-style-type: none;
}

.result-accordion .result-element .result-label{
    display: flex;
    align-items: center; 
    padding: 10px;
    font-style: 18px;
    font-weight: bold;
    cursor: pointer;
}

.result-label::before{
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

.result-input{
    display: none;
}

.result-accordion .result-content{
    color: #555;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition:  max-height 0.5s, padding 0.5s;
}

.result-accordion .result-input:checked + .result-label + .result-content{
    max-height: 4000px;
    padding: 10px 10px 20px;
}

.result-accordion .result-input:checked + .result-label::before{
    content: '-';
}

.result-wrapper table
{
    width: 100%;
    background: transparent;
}

.result-wrapper th
{
    background: #5fd2ff5b;
    border-radius: 5px;
}

.result-wrapper .context-row
{
    
    background: #00b7ff;
}

@media (max-width: 700px)
{
    .result-main
    {
        margin: 1em 0;
    }


    .result-header
    {
        font-size: 20px;
        width: 90%;
    }
    
    .result-accordion
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
    }

    .result-wrapper table
    {
        width: 100%;
    }

    .result-accordion .result-element{
        width: 100%;
        padding: 5px;
        margin: 10px 0px;
        
    }

    .result-content ul{
        overflow: auto;
    }
}
